<!-- live.html.eex -->
<div id="file-upload">
  <form phx-submit="upload" phx-change="validate">
    <input type="file" name="file" phx-hook="FileUpload" />
    <button type="submit">Upload</button>
  </form>
</div>
